*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  box-sizing: border-box;
  background-color: #ECEEF1;
  font-family: Arial , sans-serif;
}

.border {
  border: 2px solid #000;
}

.flex {
  display: flex;
}

/* Header portion */

header {
  flex-direction: row;
  justify-content: flex-end;
}

.sign-in {
  flex-direction: row;
  font-size: 1.125rem;
  line-height: 1.5rem;

}

.sign-in-text {
  flex-direction: column;
  margin: 0 1rem 0 0;
  height: 100%;
  justify-content: space-between;
}

.sign-in-text > p {
  color:rgb(80, 80, 80);;
}

.sign-in-text > a {
  color: #0077C5;
}

.btn-sign-in {
  align-self: center;
  text-align: center;
  background-color: #0077C5;
  padding: 0 2.5rem;
  border: 1px solid #4c4c4c;
  border-radius: .5rem;
  color: white;
  font-weight: 300;
  width: 10.4rem;
  height: 3.4rem;
  background-image: url(assest/image/lock.png);
  background-repeat: no-repeat;
  background-size: 1rem 1.3rem;
  background-position:17% 50%;
  cursor: pointer;
}

.btn-sign-in span{
  display: inline-block;
  margin-left: .8rem;
}

/* Main portion */

main {
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 70px;
  padding: 20px 0;
  justify-content: center;
}

.logo:hover {
  cursor: pointer;
}

.links {
  height: auto;
  justify-content: center;
  margin: 10px 0 10px 0;
  width: 500px;
}

.links-ul-li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.links-ul-li > a > img {
  height: 25px;
}

/* Form */

.form-section {
  border: c
}

.form-elements h2 {
  color: #4C4C4C;
  font-weight: 400;
  line-height: 1.1;
  font-size: 2.4 rem;
}

.form-elements > p {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 300;
  padding-top: 2rem;
}

.form-elements > a {
  color: #0077C5;
  font-size: 12px;
  margin-bottom: 2rem;
}


.form-elements {
  flex-direction: column;
  align-items: center;
  height: 670px;
  width: 378px;
  background-color: white;
  padding: 30px;
}

.input-container:not(:last-child){
  margin-bottom: 3rem;
}

.form-section label {
  display: block;
  line-height: 2.5rem;
  color: #404040;
  font-size: 1.4rem;
  margin-bottom: .6rem;
}

.input-container > span{
  color: #444;
  font-size: 1rem;
}

.form-section input {
  width: 32rem;
  height: 3.4rem;
  padding: 0 .7rem;
  border-radius: .3rem;
  border: 1px solid #C1C5C8;
  font-size: 1.2rem;
  color: black;
}

.password-input{
  background-image: url(assest/image/open-lock.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.form-section input:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.submit {
  display: block;
  background-color: #167CCC;
  color: white;
  background-image: url(assest/image/lock.png);
  background-repeat: no-repeat;
  background-size: 30px;
  width: 317.5px;
  height: 45px;
}