*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  padding: 1rem 3rem;
  box-sizing: border-box;
  background-color: #ECEEF1;
  font-family: 'Roboto', sans-serif;
}

.border {
  border: 2px solid #000;
}

.flex {
  display: flex;
}

/* Header portion */

header {
  flex-direction: row;
  justify-content: flex-end;
}

.sign-in {
  flex-direction: row;
  font-size: 1.125rem;
  line-height: 1.5rem;

}

.sign-in-text {
  flex-direction: column;
  margin: 0 1rem 0 0;
  height: 100%;
  justify-content: space-between;
}

.sign-in-text > p {
  color: #000;
}

.sign-in-text > a {
  color: #0077C5;
}

.btn-sign-in {
  align-self: center;
  text-align: center;
  background-color: #0077C5;
  padding: 0 0 0 1rem;
  border: .1rem solid #000;
  border-radius: .5rem;
  color: white;
  font-weight: 700;
  width: 10rem;
  height: 3.5rem;
  background-image: url(assest/image/lock.png);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position:17% 50%;
}

/* Main portion */

main {
  width: ;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 70px;
  padding: 20px 0;
  justify-content: center;
}

.logo:hover {
  cursor: pointer;
}

.links {
  height: auto;
  justify-content: center;
  margin: 10px 0 10px 0;
  width: 500px;
}

.links-ul {
  
}

.links-ul-li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.links-ul-li > a > img {
  height: 25px;
}

form {
  justify-content: space-around;
}

.form-elements {
  flex-direction: column;
  align-items: center;
  height: 670px;
  width: 378px;
  background-color: white;
  padding: 30px;
}

.form-elements > p {
  font-size: 14px;
}